body{
    font-family: "Poppins", sans-serif;
}
header{
    padding-top: 30px;
    padding-left: 70px; 
    margin-right: 50px;
  
}
main{
    padding-top: 30px;
    padding-left: 70px; 
    margin-right: 50px;  
}
nav{
    display: flex;
}
nav > ul{
    display: flex;
    padding-left: 530px;
}
nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 300px;
   
}
nav li a {
    text-decoration: none;
}
.Home{
    color: red;
}
    
.ExploreYourTravel{
    width: 1190px;
    height: 500px;
    background-image: url("../Images/Group13.png");
}
.Explore{
  padding-top: 70px;
  text-align: center;
    color: white;
   font-size: 3rem;
    
}
.ppp{
    text-align: center;
    color: white;
}
.inputsection{
    padding-top: 30px;
    width: 700px;
    height: 70px;
    text-align: center;
    margin-left: 240px;
    border-radius: 12px;
   
}
.polash{
    width: 120px;
    height: 20px;
    padding: 15px;
   border: 2px solid white;
    border-radius: 20px;  
    margin-left: 10px; 
}
.polash1{
    width: 120px;
    height: 20px;
    background-color: orange;
    border: 2px solid white;
    padding: 15px;
    border-radius: 20px;
    margin-left: 10px; 
 
}

.part3{
    display: flex;
    margin-top: 120px;
    gap: 30px;

}
.ReadMore{
   background-color: orange;
   width: 130px;
   height: 45px;
   padding: 15px;
   border-radius: 10px;
   border: 2px solid orange;
   font-size: 1rem;
   
}
.SeeAllPackages{
    margin-top: 150px;
    background-color: orange;
    width: 300px;
    height: 45px;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid orange;
    font-size: 1rem;
    margin-left: 500px; 
    text-align: center;
}
.img1{
   background-image: url("../Images/Rectangle5.png"); 
   border-radius: 12px;
   min-width: 550px;
   min-height: 300px;
}
.img2{
    background-image: url("../Images/Rectangle8.png");
    border-radius: 12px;
    min-width: 550px;
    min-height: 300px;
}
.part4{
    margin-top: 100px;
}
.images1{
    display: flex;
    gap: 35px;
    margin-bottom: 30px;     
}

.images2{
 display: flex;
 gap: 25px;
 margin: 10px;
}
.Indonesia{
    padding-left: 190px;
    padding-top: 100px;
    color: white;
}
.images3{
 display: flex;
 gap: 25px;
 margin-top: 10px;
}
.Choose{
    text-align: center;
}
.Choose1{
    text-align: center;
    margin-bottom: 70px;
}
.WhyChoose{
    margin-top: 100px;
    text-align: center;
}
.Dolar{
    text-align: center;
    margin-bottom: 50px;
}
.part5{
    display: flex;
    gap: 50px;
    margin-left: 40px;
}
.background{
    background-color: bisque;
    width: 900px;
    height: 350px;
    border-radius: 12px;
    padding-left: 30px;
    padding-top: 30px;
}
.background2{
 background-color: aquamarine;
    width: 900px;
    height: 350px;
    border-radius: 12px;
    padding-left: 30px;
    padding-top: 30px;
}
.background3{
    margin-top: 50px;
    margin-left: 300px;
    background-color: burlywood;
    width: 700px;
    height: 300px;
    border-radius: 12px;
    padding-left: 30px;
    padding-top: 30px;
}
.imag{
    width: 60px;
}
.main1{
    display: flex;
    margin-top: 170px;
    gap: 30px;
}
.main2{
    display: flex;
}
.mainpart2{
    margin-top: 60px;
    width: 500px;
    margin-right: 20px;
    height: 420px;
    border: 2px solid orange;
    border-radius: 12px;
}
.ImagesRectangle18{
    background-image: url('../Images/Rectangle18.png');
    margin-top: 60px;
    width: 650px;
    height: 420px;
}
.Newsletter{
    padding-left: 30px;
}
.inputpart2{
    margin-top: 60px;
    padding-left: 60px;
    
}
#inputname{
    margin-bottom: 20px; 
    border: 2px solid lightgray;
    background-color: lightgray;
    border-radius: 12px;
    width: 280px;
    height: 40px;
    padding-left: 10px;
}
.seemore{
    background-color: orange;
    width: 300px;
    height: 45px;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid orange;
    font-size: 1rem;
    margin-left: 60px;
    
}
.buttonn{
    background-color: orange;
    width: 370px;
    height: 100px;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid orange;
    font-size: 2rem;
    margin-left: 230px;
    color: white;
    margin-top: 300px;
  
}

footer{
    background-color: antiquewhite;
    width: 1335px;
    height: 450px;
    margin-top: 70px;
    padding-top: 60px;
}
.footersection{
   text-align: center;
}
.lorem{
  text-align: center;
}
.github{
    width: 65px;
}
.footericonsection{
    display: flex;
    gap: 30px;
 margin-left: 550px;
}
.Reserved{
   text-align: center;
    margin-top: 90px;  
}
.Extarsection{
    width: 450px;
    height: 400px;
    
}
.mainextar{
    margin-top: 60px;
}
.extarCard{
   display: flex;
    gap: 30px;
    margin-top: 70px;
}

/* responsive mobile dives */
@media screen and  (max-width: 576px) {
    
    .images1,.images2,.images3,.part3{
    flex-direction: column;
    } 
    /* header , nav > ul , nav li{
        text-decoration: none;
    }    */
}
